[Desktop Entry]
Encoding=UTF-8
Name=Vim 
Version=9.1
Type=Application
NoDisplay=false
Terminal=true
Exec=vim %f
Comment=Vlastní definice footclient -e vim %f
Icon=gvim
